/*=========common=========*/

html, body {
    height: 100%;
    text-align: center;
    font-family: Calibri, Tahoma, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: large;
    background-color: #ffffff;
}

a:active {
    outline: none;
}

a {
    text-decoration: none;
    color: #64615c;
    font-weight: bold;
}

a:hover {
    color: #f9bc3d;
    text-decoration: underline;
}

ul ul {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: #64615c;
}

h2 {
    font-size: 250%;
    margin: 0.3em 0 0;
}

h3 {
    font-size: 180%;
    margin: 0.3em 0 0;
}

h4 {
    font-size: 140%;
    margin: 0;
}

h5 {
    font-size: 105%;
    margin: 0;
}

section {
    margin: 0 0 3em;
}

::selection {
    color: #f4f4f4;
    background-color: #64615c;
}

:focus {
    outline: none;
}

.btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 120%;
    padding: 0.8em 1em;
    display: inline-block;
    background-color: #f9bc3d;
}

.btn:hover {
    background-color: #d39e35;
    text-decoration: none;
    color: #FFFFFF;
}

.pull-left {
    text-align: left;
}

.pull-center {
    text-align: center;
}

.pull-right {
    text-align: right;
}

.expandable {
    display: none;
}

.ng-enter {
    opacity: 0;
}

a, button, .info .status, ul *, .timetable * {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

/*=========header=========*/

body > header h1,
body > header button,
body > header nav a {
    color: #ffffff;
    color: #64615c;
}

body > header {
    padding-top: 3%;
    margin: auto;
    min-height: 75vh;
    position: relative;
    background-image: url("../img/header01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body > header:before {
    position: absolute;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: #64615c;*/
    background: #ffffff;
    opacity: 0.7;
}

body > header .lang-box {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

body > header .lang-box button {
    border: none;
    background: none;
    font-weight: bold;
}

body > header .lang-box button:hover {
    color: #79756f;
}

body > header .header-content {
    display: table;
    width: 100%;
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}

body > header .header-content > * {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 50%;
    padding: 0 1.5%;
}

body > header .header-content {
    font-size: 50px;
}

body > header .header-content h1 {
    font-size: inherit;
    text-align: left;
    line-height: 1.1;
}

body > header .header-content .logo {
    width: 100%;
    max-width: 5em;
}

body > header .header-content h1 > span {
    display: block;
}

body > header .header-content h1 > .sub {
    font-size: 70%;
}

body > header > .show-menu-button {
    opacity: 0.5;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 900;
    border: none;
    color: white;
    background: url("../img/showmenu.svg") #64615c;
    background-size: 30px 30px;
    border-radius: 5px;
    background-position: center center;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    display: none;
}

body > header > .show-menu-button:hover {
    opacity: 1;
}

body > header .main-nav {
    font-size: x-large;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
    border-color: #64615c;
    border-bottom-style: solid;
    border-width: 5px;
    background: rgba(244, 244, 244, 0.5);
    z-index: 1000;
}

body > header .main-nav.sticky {
    position: fixed;
    top: 0;
    bottom: auto;
    background: rgba(244, 244, 244, 0.85);
}

body > header .main-nav .logo img {
    max-height: 100%;
}

body > header .main-nav .logo {
    height: 2em;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -ms-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
}

body > header .main-nav.sticky .logo {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1200px) {
    body > header .main-nav .logo {
        display: none;
    }
}

@media (max-width: 800px) {
    body > header .header-content {
        display: block;
        font-size: 35px;
    }

    body > header .header-content h1,
    body > header .header-content > * {
        display: block;
        width: 100%;
        text-align: center;
    }

    body > header .main-nav.sticky,
    body > header .main-nav {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-width: 400px;
        border-right: 5px solid #5c5a56;
        bottom: auto;
        background: #f4f4f4;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
    }

    body > header .main-nav.shown {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    body > header .main-nav .logo.visible {
        opacity: 1;
        display: block;
        padding: 1.5em 0 0.5em;
    }

    body > header > .overlay {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        background: #5c5a56;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
    }

    body > header > .overlay.shown {
        opacity: 0.7;
        visibility: visible;
    }

    body > header > .show-menu-button {
        display: block;
    }
}

@media (min-height: 800px) {
    body > header .header-content {
        font-size: 75px;
    }
}

body > header .main-nav > nav {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: table;
}

body > header .main-nav > nav > * {
    padding: 0.5em 0.1em;
    display: table-cell;
    font-weight: 600;
    vertical-align: middle;

}

body > header .main-nav a.active,
body > header .main-nav a:hover {
    background-color: #65625d;
    text-decoration: none;
    color: #ededed;
}

/*=========content=========*/

body > .content {
    text-align: left;
    padding: 0 5% 3em;
}

body > .content > section {
    padding-top: 1em;
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
}

body > .content p {
    text-align: justify;
}

.content .contacts h3 {
    margin: 0;
}

.content .contacts {
    display: table;
    width: 100%;
    margin: -1%;
    font-size: 0;
}

.content .contact {
    display: inline-block;
    width: 50%;
    font-size: large;
}

.content .contacts .contact > div {
    background-color: #f4f4f4;
    padding: 5% 5%;
    margin: 2%;
}

.content .contacts .contact .role {
    color: #b5b5b5;
    font-size: 150%;
    font-weight: 300;
}

.timetable {
    padding: 0;
}

.timetable > li {
    display: block;
    padding: 2em 0 0.5em 5%;
    border-left: 4px solid #b5b5b5;
}

.timetable > li:hover {
    border-color: #f9bc3d;
    background-color: #ededed;
}

.timetable > li:hover .time,
.timetable > li:hover .time .location {
    color: #f9bc3d;
}

.timetable .time {
    display: inline-block;
    width: 25%;
    font-size: 200%;
    color: #b5b5b5;
    font-weight: 600;
    vertical-align: top;
    padding-right: 5%;
}

.timetable .time .location {
    display: block;
    font-weight: 500;
    font-size: 70%;
    color: #b5b5b5;
}

.timetable .info {
    display: inline-block;
    width: 65%;
}

.timetable .info p {
    margin-top: 0.4em;
}

.content .sponsors,
.content .partners {
    font-size: 0;
    margin: 0 -1%;
    text-align: center;
}

.content .companies .partner {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 1%;
}

.content .companies .gold .partner {
    width: 100%;
    color: #f9bc3d;
}

.content .companies .gold .partner .status {
    background-color: rgba(249, 188, 61, 0.7);
}

.content .companies .silver .partner {
    width: 48%;
    color: #64615c;
}

.content .companies .silver .partner .status {
    background-color: rgba(100, 97, 92, 0.7);
}

.content .companies .bronze .partner {
    width: 31.3%;
    color: #d5aa57;
}

.content .companies .bronze .partner .status {
    background-color: rgba(213, 170, 87, 0.7);
}

.content .companies .sponsors .partner .logo img {
    max-height: 40px;
    max-width: 90%;
}

.content .companies .gold .partner .logo img {
    max-height: 200px;
    max-width: 90%;
}

.content .companies .silver .partner .logo img {
    max-height: 70px;
    max-width: 90%;
}

.content .companies .bronze .partner .logo img {
    max-height: 40px;
    max-width: 90%;
}

.content .partner .border {
    overflow: hidden;
    font-size: large;
    position: relative;
    background-color: #f4f4f4;
    border-left: 10px solid;
    padding: 1em 0;
}

.content .partner .status {
    display: inline-block;
    padding: 0.1em 0.5em;
    color: #FFFFFF;
    vertical-align: bottom;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.content .partner:hover .status {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.content .partner .info {
    text-align: center;
}

.company .logo {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.company .description {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    padding: 25px 0;
}

.company .logo img {
    max-width: 60%;
    max-height: 5em;
    padding: 1em 0;
}

.company .logo .btn {
    background: none;
    color: #818181;
    font-size: 16px;
    display: block;
}

.company .logo:hover .btn {
    color: #edac02;
}

.company h3 {
    display: inline-block;
    margin: 0;
}

.preview-list, .timetable {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.preview-list > li {
    display: block;
    margin: 0;
    padding: 10px 30px;
    border-left: 4px solid #b5b5b5;
}

.preview-list li:hover {
    border-color: #f9bc3d;
    background-color: #ededed;
}

.faq .preview-list > li {
    padding: 0;
}

.faq .preview-list li > * {
    padding: 0 20px 10px;
    margin: 0;
}

.faq .preview-list > li > h4 {
    padding-top: 10px;
}

.faq .preview-list > li p {
    margin: 0;
}

.expansion-controller {
    color: #818181;
    cursor: pointer;
}

.company .expansion-controller {
    background: none;
    border: none;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.expansion-controller:hover {
    color: #f9bc3d;
}

.company.gold {
    border-left: 10px solid #f9bc3d;
}

.company.silver {
    border-left: 10px solid #676767;
}

.company.bronze {
    border-left: 10px solid #d5aa57;
}

.company .skills {
    margin: 0 0 0 0;
    padding: 0;
    color: #676767;
    font-weight: 300;
    display: block;
    text-align: center;

}

.company .skills > li .upper-skill-name {
    font-weight: 600;
    color: white;
    display: block;
    padding: 5%;
    background-color: #676767;
}

.company .skills > li {
    text-align: center;
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin: 1.0%;
    /*border-left: 2px solid*/
}

.company .skills li > ul > li:before {
    content: "#";
    margin-right: 0;
    font-weight: 600;
    margin-right: 0.2em;
    display: inline-block;
    vertical-align: middle;
}

.company .skills li > ul {
    display: block;
    text-align: left;
    margin-left: 5%;
    padding: 0;
}

.company .skills > li > ul > li {
    display: block;
    margin: 0;
    padding: 0;
}

.filter {
    display: inline-block;
    width: 50%;
    font-size: 120%;
    float: right;
    margin-right: 1.5%;
    margin-top: 1em;
}

.filter input {
    max-width: 100%;
    font-size: 100%;
    width: 96%;
    margin: 0;
    padding: 2% 3%;
    border: 1px solid #ededed;
}

.company .btn {
    padding: 0.4em 1em;
}

body > .content p.date {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #64615c;
    margin: 2rem 0;
}

/*=========footer=========*/

body > footer {
    background: #f4f4f4;
    padding: 4em 0 4em;
}

body > footer > .row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

body > footer h2 {
    padding: 2em 0 1.0em;
}

body > footer .row > * {
    display: table-cell;
    vertical-align: top;
    padding: 0 2em;
}

body > footer .copyright {
    text-align: center;
    margin: 5em 0 0 0;
    display: block;
    color: #64615c;
    text-transform: uppercase;
}

body > footer .links ul li,
body > footer .links ul {
    margin: 0;
    padding: 0;
}

body > footer .links li {
    display: inline-block;
}

body > footer .links li a {
    display: block;
    margin: 0 0.3em;
    padding: 1em;
    background-color: #64615c;
    border-radius: 50%;
}
body > footer .links li a:after {
    content: "";
    width: 2.5em;
    height: 2.5em;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

body > footer .links li a:hover {
    background-color: #f9bc3d;
}

body > footer .links li a.facebook:hover {
    background-color: #3b5998;
}

body > footer .links li a.twitter:hover {
    background-color: #1da1f2;
}

.ico.ssp:after {
    background-image: url("../img/ico-ssp.svg");
}
.ico.twitter:after {
    background-image: url("../img/ico-twitter.svg");
}
.ico.facebook:after {
    background-image: url("../img/ico-facebook.svg");
}


body > footer .contact {
    text-align: center;
    border-left: 1px solid #b5b5b5;
    padding: 10px 0;
}
body > footer .contact .role {
    display: block;
    text-align: center;
    color: #b5b5b5;
    font-size: 100%;
    font-weight: 300;
    padding-bottom: 10px;
    margin: 0 10% 15px;
    border-bottom: 1px solid;
}

body > footer .contact h3 {
    margin: 0;
    padding: 0 10%;
}

@media (max-width: 800px) {
    body > footer .row {
        display: block;
    }

    body > footer .row > * {
        display: block;
    }

    body > footer .contact {
        border-bottom: 1px solid #b5b5b5;
        padding: 30px 5%;
    }
    body > footer .contact .role {
        border: none;
        margin: 0;
        padding: 0;
    }

    body > footer h2 {
        margin: 0;
    }
}
