body > header .cells {
    width: 20%;
}

body > header > .logo {
    width: 60%;
}

body > header > .cells .cell .text {
    display: none;
}

body > footer .partners .row {
    display: inline;
}

body > header .main-nav nav {
    position: static;
    display: block;
    margin-top: 0;
}

body > header .main-nav nav a {
    background-color: #f4f4f4;
}

body > header .main-nav a {
    display: block;
}

.content .partner .status {
    /*transform: translate(0, 0);*/
}

body > header {
    position: relative;
    padding-bottom: 25%;
}

body > header nav {
    position: absolute;
    bottom: 5%;
    width: 50%;
    z-index: 1;
}

body > header nav.navigation {
    left: 0;
}

body > header nav.links {
    right: 0;
}

.content .contacts {
    margin: -2%;
}

.content .contact {
    display: block;
    width: 100%;
}

.content .partners.silver .partner,
.content .partners.bronze .partner {
    width: 100%;
}

.filter {
    display: block;
    width: 97%;
    margin-top: 0;
    float: none;
}

@media (max-width: 500px) {
    body > header {
        padding-bottom: 50%;
    }

    body > header nav.navigation {
        left: 0;
    }

    body > header nav.links {
        top: 5%;
        right: 0;
        height: 30%;
    }

    body > header > .logo {
        padding-top: 35%;
        padding-bottom: 0;
        width: 90%;
    }

    .timetable .time {
        display: block;
        width: 100%;
    }

    .timetable .info {
        display: block;
        width: 100%;
    }

    .comming-partners .company .logo,
    .comming-sponsors .company .logo {
        display: block;
        width: 100%;
        margin-bottom: -2rem;
        padding-top: 1rem;
        margin-top: 1rem;
    }

    .comming-partners .company .description,
    .comming-sponsors .company .description {
        width: 90%;
        padding: 2em 5%;
    }

    .company .skills > li {
        width: 45%;
    }
}
