/*=========common=========*/

html, body {
    height: 100%;
    text-align: center;
    font-family: Calibri, Tahoma, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: large;
    background-color: #f4f4f4;
}

a:active {
    outline: none;
}

a {
    text-decoration: none;
    color: #64615c;
    font-weight: bold;
}

a:hover {
    color: #f9bc3d;
    text-decoration: underline;
}

ul ul {
    margin: 0;
}

h1, h2, h3, h4 {
    color: #64615c;
}

h2 {
    font-size: 250%;
    margin: 0.3em 0 0;
}

h3 {
    font-size: 180%;
    margin: 0.3em 0 0;
}

h4 {
    font-size: 140%;
    margin: 0;
}

section {
    margin: 0 0 3em;
}

::selection {
    color: #f4f4f4;
    background-color: #64615c;
}

:focus {
    outline: none;
}

.btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 120%;
    padding: 0.8em 1em;
    display: inline-block;
    background-color: #f9bc3d;
}

.btn:hover {
    background-color: #d39e35;
    text-decoration: none;
    color: #FFFFFF;
}

.pull-left {
    text-align: left;
}
.pull-center {
    text-align: center;
}
.pull-right {
    text-align: right;
}

.expandable {
    display: none;
    -webkit-transition: none;
    transition: none;
}

* {
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

/*=========header=========*/

body > header {
    padding-top: 3%;
    max-width: 1980px;
    margin: auto;
}

/*body > header > div {*/
/*width: 35%;*/
/*display: inline-block;*/
/*vertical-align: middle;*/

/*}*/

/*body > header .logo {*/
/*width: 26%;*/
/*}*/

/*body > header .logo img {*/
    /*width: 100%;*/
/*}*/

/*body > header .cells {*/
/*!*width: 100%;*!*/
/*height: auto;*/
/*}*/

/*body > header .cells img {*/
/*width: 100%;*/
/*display: inline-block;*/
/*visibility: hidden;*/
/*}*/

/*body > header .cells .cell {*/
/*display: inline-block;*/
/*width: 30%;*/
/*height: auto;*/
/*background-repeat: no-repeat;*/
/*background-size: 100%;*/
/*background-position: center center;*/
/*position: relative;*/
/*font-size: x-large;*/
/*background-image: url("../img/cell-light.svg");*/
/*}*/

/*body > header .cells .cell.dark {*/
/*background-image: url("../img/cell-dark.svg");*/
/*}*/

body > header {
    min-height: 80vh;
    position: relative;

    background-image: url("../img/fa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

body > header > h1 {
    color: black;
    font-size: 3rem;
    text-align: left;
    margin-left: 15%;

    position: absolute;
    top: 30%;
}

body > header > h1 > span {
    display: block;
    font-size: 5rem;
}

body > header .main-nav {
    font-size: x-large;
    width: 100%;
    background-color: #f4f4f4;

    position: absolute;
    bottom: 0;

    padding: 0;

    border-color: #64615c;
    border-bottom-style: solid;
    border-width: 5px;
}

body > header .main-nav > nav {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: table;
}

body > header .main-nav a {
    padding: 0.5em 1em;
    display: table-cell;
    font-weight: 600;
    color: #65625d;
}

body > header .main-nav a.hovered,
body > header .main-nav a:hover {
    background-color: #65625d;
    text-decoration: none;
    color: #e8e8e8;
}

/*---------icons---------*/

body > header .cells .cell .ico,
body > header .cells .cell .text,
body > footer .cells .cell .ico,
body > footer .cells .cell .text {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-weight: bold;
}

.cells .cell:hover {
background-size: 115%;
}

body > header .cells .cell .ico,
body > footer .cells .cell .ico {
    width: 76%;
    height: 57%;
    background-repeat: repeat-x;
    background-image: url("../img/icons.svg");
    background-position: left center;
}

body > header .cells .cell:hover .ico,
body > footer .cells .cell:hover .ico {
    width: 86%;
    height: 64.5%;
}

body > header .cells .cell:hover .text,
body > footer .cells .cell:hover .text {
width: 100%;
font-size: 120%;
}

@media (max-width: 1150px) {
    body > header .cells .cell .text,
    body > footer .cells .cell .text {
        font-size: medium;
    }

    body > header .cells .cell:hover .text,
    body > footer .cells .cell:hover .text {
        font-size: 100%;
    }
}

body > header .cells .cell .ico.random {
    background-size: 1200%;
}
body > header .cells .cell .ico.random {
    background-position: 9.091% center;
}
body > header .cells .cell .ico.random.ico2 {
    background-position: 27.27% center;
}
body > header .cells .cell .ico.random.ico3 {
    background-position: 45.455% center;
}
body > header .cells .cell .ico.random.ico4 {
    background-position: 63.637% center;
}
body > header .cells .cell .ico.random.ico5 {
    background-position: 81.819% center;
}
body > header .cells .cell .ico.random.ico6 {
    background-position: 100% center;
}

body > header .cells .cell .ico,
body > footer .cells .cell .ico {
    background-size: 200%;
}

body > header .cells .cell.active .ico,
body > header .cells .cell.hovered .ico,
body > header .cells .cell:hover .ico,
body > footer .cells .cell.active .ico,
body > footer .cells .cell.hovered .ico,
body > footer .cells .cell:hover .ico {
    background-position: right center;
}

body > header .cells a.cell,
body > footer .cells a.cell {
    background-image: url("../img/cell-link.svg");

}

body > header .cells .cell .ico.ssp,
body > footer .cells .cell .ico.ssp {
    background-image: url("../img/ico-ssp.svg");
}

body > header .cells .cell .ico.industry,
body > footer .cells .cell .ico.industry {
    background-image: url("../img/ico-industry.svg");
}

body > header .cells .cell .ico.student,
body > footer .cells .cell .ico.student {
    background-image: url("../img/ico-student.svg");
}

body > header .cells .cell .ico.info,
body > footer .cells .cell .ico.info {
    background-image: url("../img/ico-info.svg");
}

body > header .cells .cell .ico.contact,
body > footer .cells .cell .ico.contact {
    background-image: url("../img/ico-contact.svg");
}

body > header .cells .cell .ico.facebook,
body > footer .cells .cell .ico.facebook {
    background-image: url("../img/ico-facebook.svg");
}

body > header .cells .cell .ico.twitter,
body > footer .cells .cell .ico.twitter {
    background-image: url("../img/ico-twitter.svg");
}

body > header .cells .cell .ico.cs,
body > footer .cells .cell .ico.cs {
    background-image: url("../img/ico-cs.svg");
}

body > header .cells .cell .ico.en,
body > footer .cells .cell .ico.en {
    background-image: url("../img/ico-en.svg");
}

body > header .cells .row,
body > footer .cells .row {
    margin-top: -9%;
}

body > header .header,
body > header {
    width: 100%;
}

/*=========content=========*/

body > .content {
    background-color: #FFFFFF;
    text-align: left;
    padding: 0 5% 3em;
}

body > .content > section {
    padding-top: 1em;
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
}

body > .content p {
    text-align: justify;
}

.content .contacts h3 {
    margin: 0;
}

.content .contacts {
    display: table;
    width: 100%;
    margin: -1%;
    font-size: 0;
}

.content .contact {
    display: inline-block;
    width: 50%;
    font-size: large;
}

.content .contacts .contact > div {
    background-color: #f4f4f4;
    padding: 5% 5%;
    margin: 2%;
}

.content .contacts .contact .role {
    color: #b5b5b5;
    font-size: 150%;
    font-weight: 300;
}

.timetable {
    padding: 0;
}

.timetable > li {
    display: block;
    padding: 2em 0 0.5em 5%;
    border-left: 4px solid #b5b5b5;
}

.timetable > li:hover {
    border-color: #f9bc3d;
    background-color: #f4f4f4;
}

.timetable > li:hover .time,
.timetable > li:hover .time .location {
    color: #f9bc3d;
}

.timetable .time {
    display: inline-block;
    width: 25%;
    font-size: 200%;
    color: #b5b5b5;
    font-weight: 600;
    vertical-align: top;
    padding-right: 5%;
}

.timetable .time .location {
    display: block;
    font-weight: 500;
    font-size: 70%;
    color: #b5b5b5;
}

.timetable .info {
    display: inline-block;
    width: 65%;
}

.timetable .info p {
    margin-top: 0.4em;
}

.content .sponsors,
.content .partners {
    font-size: 0;
    margin: 0 -1%;
    text-align: center;
}

.content .companies .partner {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 1%;
}

.content .companies .gold .partner {
    width: 100%;
    color: #f9bc3d;
}

.content .companies .gold .partner .status {
    background-color: rgba(249, 188, 61, 0.7);
}

.content .companies .silver .partner {
    width: 48%;
    color: #64615c;
}

.content .companies .silver .partner .status {
    background-color: rgba(100, 97, 92, 0.7);
}

.content .companies .bronze .partner {
    width: 31.3%;
    color: #d5aa57;
}

.content .companies .bronze .partner .status {
    background-color: rgba(213, 170, 87, 0.7);
}

.content .companies .sponsors .partner .logo img {
    max-height: 40px;
    max-width: 90%;
}

.content .companies .gold .partner .logo img {
    max-height: 200px;
    max-width: 90%;
}

.content .companies .silver .partner .logo img {
    max-height: 70px;
    max-width: 90%;
}

.content .companies .bronze .partner .logo img {
    max-height: 40px;
    max-width: 90%;
}

.content .partner .border {
    overflow: hidden;
    font-size: large;
    position: relative;
    background-color: #f4f4f4;
    border-left: 10px solid;
    padding: 1em 0;
}

.content .partner .status {
    display: inline-block;
    padding: 0.1em 0.5em;
    color: #FFFFFF;
    vertical-align: bottom;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.content .partner:hover .status {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.content .partner .info {
    text-align: center;
}

.company .logo {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.company .description {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0;
}
.company .logo img {
    max-width: 60%;
    max-height: 5em;
    padding: 1em 0;
}

.company h3 {
    display: inline-block;
    margin: 0;
}

.expansion-controller {
    background: none;
    border: none;
    display: block;
    text-align: center;
    width: 100%;
    color: #b5b5b5;
    font-size: small;
}

.expansion-controller:hover {
    color: #f9bc3d;
}

.company.gold {
    border-left: 10px solid #f9bc3d;
}

.company.silver {
    border-left: 10px solid #676767;
}

.company.bronze {
    border-left: 10px solid #d5aa57;
}

.company .skills {
    margin: 0 0 0 0;
    padding: 0;
    color: #676767;
    font-weight: 300;
    display: block;
    text-align: center;

}

.company .skills > li .upper-skill-name {
    font-weight: 600;
    color: white;
    display: block;
    padding: 5%;
    background-color: #676767;
}

.company .skills > li {
    text-align: center;
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin: 1.0%;
    /*border-left: 2px solid*/
}

.company .skills li > ul > li:before {
    content: "#";
    margin-right: 0;
    font-weight: 600;
    margin-right: 0.2em;
    display: inline-block;
    vertical-align: middle;
}

.company .skills li > ul {
    display: block;
    text-align: left;
    margin-left: 5%;
    padding: 0;
}

.company .skills > li > ul > li {
    display: block;
    margin: 0;
    padding: 0;
}

.filter {
    display: inline-block;
    width: 50%;
    font-size: 120%;
    float: right;
    margin-right: 1.5%;
    margin-top: 1em;
}

.filter input {
    max-width: 100%;
    font-size: 100%;
    width: 96%;
    margin: 0;
    padding: 2% 3%;
    border: 1px solid #e8e8e8;
}

.company .btn {
    padding: 0.4em 1em;
}

/*=========footer=========*/

body > footer {
    margin: 2rem 1.5rem 5rem;
}

body > footer h2 {
    margin-bottom: 1.3em;
}

body > footer .partner {
    display: inline-block;
    width: 240px;
    height: 280px;
    background: url("../img/cell-light.svg") no-repeat center center;
    background-size: 100%;
    margin: -35px 0;
}

body > footer .partner span{
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
}

body > footer .partner span:hover {
    background-size: 80%;
}

body > footer .partner.gold {
    background-image: url("../img/cell-gold.svg");
}

body > footer .partner.silver {
    background-image: url("../img/cell-silver.svg");
}

body > footer .partner.bronze {
    background-image: url("../img/cell-bronze.svg");
}

body > footer > div {
    /*width: 35%;*/
    display: inline-block;
    vertical-align: middle;
}

body > footer .cells {
    /*width: 100%;*/
    height: auto;
}

body > footer .cells img {
    width: 100%;
    display: inline-block;
    visibility: hidden;
}

body > footer .cells .cell {
    display: inline-block;
    width: 30%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    position: relative;
    font-size: x-large;
    background-image: url("../img/cell-light.svg");
}

body > footer .cells .cell.dark {
    background-image: url("../img/cell-dark.svg");
}

#copyright {
    text-align: center;
    margin: 2rem 0 -2rem 0;
}

body > .content p.date {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #64615c;
    margin: 2rem 0;
}
