<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COFIT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <link rel="apple-touch-icon" href="img/touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/touch-icon-ipad-retina.png">
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/main.css?v=2.1"/>
    <link rel="stylesheet" href="css/custom.css?v=2.1"/>
    <link rel="stylesheet" href="css/custom-desk.css?v=2.0" media="(min-width: 800px)"/>
    <link rel="stylesheet" href="css/custom-mob.css?v=2.0" media="(max-width: 799px)"/>
    <link rel="stylesheet" href="css/slideme.css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/angular-translate-loader-static-files.js"></script>
    <script src="js/angular-translate-storage-cookie.js"></script>
    <script src="js/angular-scroll.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/sponsor.service.js?v=2.1.2"></script>
    <script src="js/partner.service.js?v=2.1.2"></script>
    <script src="js/schedule.service.js?v=2.0"></script>
    <script src="js/directives.js?v=2.0"></script>
    <base href="#">
<body ng-app="app">
<header ng-controller="HeaderCtrl">
    <button class="show-menu-button" ng-click="shown = !shown">
    </button>
    <div class="overlay" ng-click="shown = false" ng-class="{shown: shown}">
    </div>

    <div class="header-content" id="headerContent">
        <h1 class="sub">{{'CAREER_FAIR' | translate}}</h1>
        <div class="heading">
            <img class="logo" src="img/logo.svg"/>
        </div>
        <div class="date">
            <div>24. října 2018</div>
            <div style="font-size: 18px; margin-top: 10px;">Fakulta informačních technologií ČVUT</div>
        </div>
    </div>

    <!--<div class="lang-box">-->
    <!--<button ng-click="setLanguage('en')" ng-show="lang=='cs'">-->
    <!--<img src="img/asterisk.svg"/>English-->
    <!--</button>-->
    <!--<button ng-click="setLanguage('cs')" ng-show="lang=='en'">-->
    <!--<img src="img/asterisk.svg"/>Česky-->
    <!--</button>-->
    <!--</div>-->

    <div id="mainNavigation" class="main-nav" ng-class="{sticky:sticky, shown:shown}" ng-click="shown = false">
        <nav>
            <div ng-click="scrollOnTop()" class="logo visible">
                <img src="img/logo.svg"/>
            </div>
            <a du-smooth-scroll du-scrollspy href="#info" title="{{'ABOUT_ACTION_EXT' | translate}}">
                {{'COFIT' | translate}}
            </a>
            <a du-smooth-scroll du-scrollspy href="#schedule" title="{{'SCHEDULE' | translate}}">
                {{'SCHEDULE' | translate}}
            </a>
            <a du-smooth-scroll du-scrollspy href="#industry" title="{{'FOR_COMPANIES_EXT' | translate}}">
                {{'FOR_COMPANIES' | translate}}
            </a>
            <a du-smooth-scroll du-scrollspy href="#whoComes" title="{{'FOR_STUDENTS' | translate}}">
                {{'FOR_STUDENTS' | translate}}
            </a>
            <a du-smooth-scroll du-scrollspy href="#aboutPortal" title="{{'CWI_EXT' | translate}}">
                {{'COOPERATION_WITH_INDUSTRY' | translate}}
            </a>
            <a du-smooth-scroll du-scrollspy href="#contact" title="{{'CONTACT' | translate}}">
                {{'CONTACT' | translate}}
            </a>
            <div class="logo hidden">
                <img src="img/logo.svg" style="visibility: hidden"/>
            </div>
        </nav>
    </div>
</header>
<div class="content" ng-controller="MainCtrl">
    <section id="info">
        <section ng-include src="'templates/' + lang + '/info.section.html'">
        </section>
        <section id="companies" ng-include src="'templates/company-previews.section.html'">
        </section>
        <section id="gallery" ng-include src="'templates/gallery.section.html'">
        </section>
    </section>
    <section id="schedule" ng-include src="'templates/' + lang + '/schedule.section.html'">
    </section>
    <section id="industry" ng-include src="'templates/' + lang + '/for-companies.section.html'">
    </section>
    <section id="whoComes" ng-include src="'templates/company-details.section.html'">
    </section>
    <section id="aboutPortal" ng-include src="'templates/' + lang + '/about-ssp.section.html'">
    </section>
</div>
<footer id="contact" ng-include src="'templates/footer.section.html'">
</footer>
</body>
</html>
