<h2>
    SSP portal
</h2>

<p>
    The purpose of SSP portal is to enable effective and useful cooperation of companies and students.
</p>

<p>
    Many students are employed during their studies. But their work is not usually connected to school although
    it might have been. Thanks to SSP portal it is possible to solve this problem and connect part-time jobs
    with school duties. So students can cooperate with companies and take part on interesting projects from IT,
    develop skills and learn programming languages and technologies used in practise.
</p>

<p>
    We would like to support interesting projects and create nice place to cooperate together on new knowledge
    come in concrete innovations. This system gives to the Faculty strong feedback which is used to improve
    practical parts of subjects.
</p>

<p>
    Pros for industrial partner (company) are opportunities to cooperate with young talents and forming their
    future development, using expertise consulting and experiences teachers during solving assignments and
    testing, give semestral work or thesis to students. Student can benefit from contact and cooperation with
    company, use opportunities for practise in IT and get experience on interesting projects in connection with
    school attendance and duties.
</p>

<section id="aboutPortalSSPnews" style="display: none;">
    <h3>
        What new is planned in CWI?
    </h3>

    <p>
        We are constantly thinking of new ways of improving the portal and still working on development of new
        functions. We’d like to inform you about some of them.

    </p>

    <p>
        First, we want to increase a support of faculty experts who help to industrial partners with creating
        assignments, provide expert advise and can lead work teams. Next change will be that other users
        (students, teachers and experts) can suggest their own assignments and requirements. After that
        industrial partners (companies) could pick the assignment which they are interested in and want to
        sponsor. We can’t forget to mention making of redesign of front page of portal SSP. It will make your
        work with portal easier, quicker and keeps you informed about all news. Stay tuned!
    </p>
</section>
<div class="pull-center">
    <a href="https://ssp.test.fit.cvut.cz/web/ssp-sandbox/form" target="_blank" class="btn">More about SSP</a>
</div>
