<h2>
    Contacts
</h2>

<div class="contacts">
    <div class="contact">
        <div>
                    <span class="role">
                        Assistant
                    </span>

            <h3>
                Ing. Lucie Kolomazníková
            </h3>

            <div>
                <strong>Email:</strong>
                <a href="mailto:lucie.kolomaznikova@fit.cvut.cz">lucie.kolomaznikova@fit.cvut.cz</a>
            </div>
            <div>
                <strong>Phone:</strong>
                +420 224 359 834
            </div>
        </div>
    </div>
    <div class="contact">
        <div>
                    <span class="role">
                        Associate Dean for Development
                    </span>

            <h3>
                Ing. Pavel Kordík, Ph.D.
            </h3>

            <div>
                <strong>Email:</strong>
                <a href="mailto:pavel.kordik@fit.cvut.cz"> pavel.kordik@fit.cvut.cz</a>
            </div>
            <div>
                <strong>Phone:</strong>
                420 224 359 815
            </div>
        </div>
    </div>
    <div class="contact address">
        <div>
                <span class="role">
                    Address
                </span>

            <h3>
                Faculty of Information Technology
            </h3>

            <div>
                Czech Technical University in Prague
            </div>
            <div>
                Thákurova 9
            </div>
            <div>
                160 00, Praha 6 - Dejvice
            </div>
        </div>
    </div>
</div>
