<h2>
    For companies
</h2>

<p>
    Co@FIT is also in this academic year. There are
    many ways how to cooperate with
    us. Do not miss the opportunity to present your company and communicate with FIT students - offer
    cooperation on various projects, assigments to SSP portal, semestral projects or thesis. This service is
    offered also to non-partner companies for a fee. Only our golden and silver partners can give an exclusive
    presentation during the main program.
</p>

<!--<section id="timetableForIndustry">-->
<!--<h3>-->
<!--Time schedule-->
<!--</h3>-->

<!--Time schedule is being prepared-->
<!--</section>-->

<section id="faqForIndustry" class="faq">
    <h3>
        Questions and Answers to Co@FIT
    </h3>
    <ul class="preview-list">
        <li class="expandable-container">
            <h4 class="expansion-controller" ng-click="faqShown=0">Where and when to come?</h4>

            <div ng-show="faqShown==0">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1279.501864413418!2d14.389732264942943!3d50.10493717499541!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x8eb9c6f77808fa69!2sFakulta+informa%C4%8Dn%C3%ADch+technologi%C3%AD+%C4%8CVUT+v+Praze!5e0!3m2!1scs!2scz!4v1443540642171"
                    style="width: 100%; height: 450px; border: 0;" frameborder="0" allowfullscreen></iframe>
                <p>
                    Kiosks will be ready at 11:00 in the atrium of The New Building so you will have time to
                    arrange your promotional materials. When you arrive in the building there will be our support
                    team who can help you during the event. Program officially starts at 12:30.

                </p>
            </div>
        </li>
        <li class="expandable-container">
            <h4 class="expansion-controller" ng-click="faqShown=1">Where can I park?</h4>

            <div ng-show="faqShown==1">
                <p>
                    Parking is available only in paid parking zones. There are no available parking places at the
                    FIT building.
                </p>
            </div>
        </li>
        <li class="expandable-container">
            <h4 class="expansion-controller" ng-click="faqShown=2">What will be available at the faculty?</h4>

            <p ng-show="faqShown==2">
                You will receive information about Wifi connection before event on your e-mail address, eventually
                on the kiosk SSP. There are provided extension cords for your electronic devices. Professional
                photographer will document the entire event. Photo report will be available for you. There will be
                prepared also refreshments (room 153). Water is provided in kiosks.
            </p></li>


        <li class="expandable-container">
            <h4 class="expansion-controller" ng-click="faqShown=3">What does "informational kiosk" mean?</h4>

            <p ng-show="faqShown==3">
                Informational kiosks are office desks with chairs. Each desk is signed with a company name, logo and
                short description (your technologies and programming languages). You can bring roll-ups and
                promotional materials. We recommend preparing assignments or themes of semester projects and thesis
                for SSP portal.
            </p></li>
        <li class="expandable-container">
            <h4 class="expansion-controller" ng-click="faqShown=4">How should I prepare my presentation as a
                FITpartner?</h4>

            <div ng-show="faqShown==4">
                <p>
                    As a golden/silver partner you have a chance to introduce your company during the main program
                    for students. Golden partners have 15 minutes for presentation, silver partners have 10 minutes.
                    Content of the presentation is on you, but you can inspire yourself by points below. We ask
                    you to attend
                    the whole lecture. Projector, screen and sound system will be available in the lecture room.
                </p>
                <h5>Recommended points of your presentation:</h5>
                <ul>
                    <li>About your company</li>
                    <li>Successful and interesting projects (connected with SSP portal and also beyond)</li>
                    <li>Which projects you can offer to students</li>
                    <li>What are your requirements on students (bachelor, master, skills they should know)</li>
                    <li>What can student expect from cooperation with your company (development opportunities,
                        benefits, corporate culture etc.)
                    </li>
                </ul>
            </div>
        </li>
        <li class="expandable-container">
            <h4 class="expansion-controller" ng-click="faqShown=5">How many students are expected to visit Co@FIT?</h4>

            <p ng-show="faqShown==5">
                About 500 students are expected to come.
            </p>
        </li>
        <li class="expandable-container">
            <h4 class="expansion-controller" ng-click="faqShown=6">Where do I get more information?</h4>

            <p ng-show="faqShown==6">
                Assistant of Co@FIT is Lucie Kolomazníková
                (<a href="mailto:lucie.kolomaznikova@fit.cvut.cz">lucie.kolomaznikova@fit.cvut.cz</a>)
                and she can provide you information.
                During Co@FIT there is our support team and informational kiosk SSP.
            </p>
        </li>
    </ul>
</section>

<section id="interestedInNextEvent">
    <div>
        <h3>
            Are you interested in next Co@FIT event?
        </h3>

        <p>

            If you are interested in next Co@FIT event, which takes place in April of 2017, please contact and
            arrange your attendance with
            <a class="textbtn" href="mailto:lucie.kolomaznikova@fit.cvut.cz">Ing. Lucie Kolomazníková</a>.
        </p>
        <div class="pull-center">
            <a class="btn" target="_blank" href="#contact">
                I'm interested
            </a>
        </div>
    </div>
</section>

<section id="aboutFitPartners">
    <h3>
        Partnership and sponsoring
    </h3>

    <p>
        Faculty of Information Technology targets to educate highly specialized IT professionals as a main
        element of innovative potential of companies and institutions especially in Czech Republic. We are
        systematically building scientific research capacities which enable us to teach students the latest
        trends and knowledge but also to offer expertise consulting and realize projects in cooperation with
        companies and institutions.
    </p>

    <p>
        Solid and long-term relationships with industrial partners belong to the historical tradition of the
        Czech Technical University in Prague. At the Faculty of Information Technology we are trying to make
        cooperation with industrial sphere as mutually beneficial as possible. Industrial partners are not only
        the target sphere for our absolvents but also important partners for forming our studying programs and
        scientifical researches and activities. To improve and systematize this cooperation we have prepared
        program of partnership called FITpartner. FITpartner enables companies and institutions to influence
        future development and specialization of our students but also it is possible close cooperation on
        researches. This program has various forms of partnership divided according commitment of companies
        to the faculty.
    </p>

    <p>
        For more information please contact
        <a class="textbtn" style="font-weight: bold" href="#contact">Department of Development.</a>
    </p>
</section>
<section id="aboutFaculty" style="display: none">
    <h3>
        Information about FIT
    </h3>
    <h4>
        Bachelor study programme:
    </h4>
    <ul>
        <li>Computer Security and Information Technology</li>
        <li>Computer Science</li>
        <li>Knowledge Engineering</li>
        <li>Web and Software Engineering
            <ul>
                <li>specialization: Web Engineering</li>
                <li>specialization: Software Engineering</li>
                <li>specialization Computer Graphics</li>
            </ul>
        </li>
        <li>Information Systems and Management</li>
        <li>Computer Engineering</li>
    </ul>
    <div class="pull-center">
        <a href="http://fit.cvut.cz/en/student/bachelor" target="_blank" class="btn">
            More about bachelor programe
        </a>
    </div>
    <br/>
    <h4>
        Master study programme
    </h4>
    <ul>
        <li>Computer Security</li>
        <li>Computer Systems and Networks</li>
        <li>Design of Digital Systems</li>
        <li>System Programming
            <ul>
                <li>focused on Theoretical Computer Science</li>
                <li>focused on System Programming</li>
            </ul>
        </li>
        <li>Web and Software Engineering
            <ul>
                <li>focused on Information Systems and Management</li>
                <li>focused on Software Engineering</li>
                <li>focused on Web Engineering</li>
            </ul>
        </li>
        <li>Knowledge Engineering</li>
    </ul>
    <div class="pull-center">
        <a href="http://fit.cvut.cz/en/prospective-students/master" target="_blank" class="btn">
            More about master programme
        </a>
    </div>
</section>
