<h2>
    For students
</h2>

<section id="timetableForStudents">
    <h3>
        Time schedule
    </h3>

    <p>
        Meet companies from IT sphere and win interesting prices! Which projects are companies
        solving? Where can you gain experience? Do not miss opportunity to get to know
        companies right in university campus.
        We are looking forward to seeing you!
    </p>

    <ol class="timetable">
        <li>
            <div class="time">
                12:30 - 18:00
                <div class="location">Atrium of The New Building</div>
            </div>
            <div class="info">
                <h4>
                    Informational kiosks of companies
                </h4>

                <p>
                    Visit informational kiosks of FIT partners and sponsors. Ask for what are you
                    interested in. What projects are companies solving currently? Which students are they
                    looking for cooperation? What can they offer to you? Get valuable information and
                    connections during all the afternoon!
                </p>

                <h4>
                    Informational kiosk of SSP portal
                </h4>

                <p>
                    This kiosk serves as an informational kiosk of Co@FIT. SSP portal provides cooperation
                    between students and companies where can companies offer assignments as semestral
                    projects or thesis.
                </p>
            </div>
        </li>
        <li>
            <div class="time">
                13:30 - 14:00
                <div class="location">Lecture Hall T9:107</div>
            </div>
            <div class="info">
                <h4>
                    How to cooperate with industry
                </h4>
                <p>
                    Learn how to cooperate with industry through SSP portal.
                </p>
            </div>
        </li>

        <li>
            <div class="time">
                16:45 - 18:00
                <div class="location">Lecture Hall T9:111</div>
            </div>
            <div class="info">
                <h4>
                    Presentations of FIT partners
                </h4>

                <p>
                    Do not miss the presentations of our golden and silver partners. They will talk
                    about job opportunities and interesting projects which the companies are working on, which
                    assignments they offer in SSP portal or what skills from student they require.
                </p>
                <h4>
                    Drawing FIT-raffle
                </h4>

                <p>
                    During presentations will be drawing a raffle. Win electronics sponsored by our partners!
                </p>
            </div>
        </li>
    </ol>
</section>
<section class="events">
    <h3>
        FIT-raffle
    </h3>

    <p>
        Do you want to win electronics sponsored by our partners? How to attend? Each student of FIT who comes
        to the main lecture of partners receives a raffle ticket. There will be drawing a raffle during the
        lecture. Get more information about your future career, learn interesting facts from companies agents
        and win great stuff!
    </p>
</section>
