<section>
    <h2>
        About Co@FIT
    </h2>

    <p>
        Faculty of Information Technology holds event Co@FIT (Companies at FIT) - meeting of students with
        companies.
        The purpose is students to mediate contact with an industrial sector, especially to long-term industrial
        partners of FIT and enable job opportunities.
    </p>

    <p>
        Career fair Co@FIT brings SSP portal in cooperation with companies for the 7th time. In summer semester
        2017/2018 it will take place in the atrium of The New Building of Faculty of Information Technology.
        Informational kiosk of SSP portal will be ready for students and companies. There you can get more
        information about Co@FIT and sign in to SSP.

    </p>
    <p class="date">20.3.2017</p>
    <p>
        During all day there will be kiosks of industrial partners in the atrium of The New Building where students
        can get information about working in companies, technologies and programming languages, requirements for
        knowledge and promotional materials. This event is an special occasion for students to get connect with
        companies, learn interesting facts and settle their semester projects, thesis or dissertation. It is
        suitable and recommended to students from all fields of FIT. Afternoon in conclusion there are arranged
        short lectures of our golden and silver partners and also FIT-raffle.
    </p>
</section>
