<h2>
    Portál Spolupráce s průmyslem
</h2>

<p>
    Cílem portálu
    <a class="textbtn" href="https://ssp.test.fit.cvut.cz/" target="_blank">Spolupráce s průmyslem (SSP)</a>
    je umožnit efektivní a všestranně prospěšnou spolupráci
    průmyslových partnerů se studenty
    <a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakulty informačních technologií ČVUT</a>.

</p>

<p>
    Mnoho studentů během studia pracuje, čímž získává potřebnou praxi. Stinnou stránkou je, že jejich práce
    většinou není nijak provázána s výukou, přestože se mnohdy vyučovaných předmětů úzce týká.
    <a class="textbtn" href="https://ssp.test.fit.cvut.cz/" target="_blank">SSP</a> umožňuje realizovat
    projektovou výuku a diplomové práce ve spolupráci s firmami tak, aby byly výstupy
    přímo použitelné zadávající firmou a zároveň započítané do souvisejících předmětů ve škole. Díky našemu
    portálu <a class="textbtn" href="https://ssp.test.fit.cvut.cz/" target="_blank">SSP</a>
    se mohou studenti podílet již při studiu na zajímavých projektech z praxe, rozvíjet svoje
    dovednosti a postupně si osvojovat technologie a postupy využívané v praxi. Firmy si mohou na univerzitě
    najít podporu při řešení složitých problémů a formovat své budoucí zaměstnance.
</p>

<p>
    Rádi bychom tak podporovali zajímavé projekty a vytvořili příjemné prostředí, ve kterém budeme společně
    pracovat na tom, aby se nejnovější poznatky proměnily v konkrétní inovace. Fakultě dává tento systém silnou
    zpětnou vazbu, které využívá ke zlepšování praktických částí předmětů.
</p>

<p>
    Mezi výhody, které SSP přináší průmyslovému partnerovi (firmě), patří zejména možnost spolupráce s mladými
    talenty a formování jejich budoucího vývoje a zaměření, využívání zkušeností univerzitních expertů a učitelů
    při řešení úloh, vývoj a testování, zadávání semestrálních a diplomových prací. Studentům naopak
    zprostředkuje kontakt a spolupráci s firmami, možnost získat praxi v oboru, účastnit se zajímavých
    projektů a splnit si zároveň úlohy v rámci výuky.

</p>

<div class="pull-center">
    <a href="https://ssp.test.fit.cvut.cz/web/ssp-sandbox/form" target="_blank" class="btn">Přejít do SSP</a>
</div>
