<h2>
    Informace pro studenty
</h2>

<section id="timetableForStudents">
    <h3>
        Časový plán pro studenty
    </h3>
    <ol class="timetable">
        <li>
            <div class="time">
                12:30 - 18:00
                <div class="location">Atrium Nová budova</div>
            </div>
            <div class="info">
                <h4>
                    Kariérní veletrh
                </h4>

                <p>
                    Navštivte informační kiosky partnerů a sponzorů FITu. Koho hledají pro
                    spolupráci? Jaké projekty a témata mají v portálu SSP? Co požadují a co mohou nabídnout?
                </p>
            </div>
        </li>

        <li>
            <div class="time">
                18:00 - 19:30
                <div class="location">Posluchárna T9:107</div>
            </div>
            <div class="info">
                <h4>
                    Upgrade dovedností - panelová diskuse
                </h4>
                <p>

                </p>
            </div>
        </li>
    </ol>
</section>

<section class="events" style="display:none;">
    <h3>
        FIT-tombola
    </h3>

    <p>
        Chceš vyhrát elektroniku sponzorovanou našimi partnery? Každý student FITu, který přijde na
        <a class="textbtn" href="#timetableForStudents">přednášku partnerů</a>,
        obdrží při vstupu do posluchárny lístek do tomboly.
        V průběhu přednášky bude probíhat slosování.

    </p>


</section>
