<section id="industry">
    <h2>
        Pro firmy
    </h2>

    <p>
        I pro tento akademický rok pořádáme akci Co@FIT, setkání studentů a firem. Existuje několik
        způsobů, jak můžete spolupracovat s
        <a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakultou informačních technologií ČVUT</a>.
        Využijte naší nabídky prezentovat na Co@FITu svoji firmu a oslovit tak studenty s nabídkami spolupráce,
        stáží, zadání do portálu
        <a class="textbtn" href="https://ssp.test.fit.cvut.cz/" target="_blank">SSP</a>
        nebo témata semestrálních a diplomových prací.
    </p>

    <!--<section id="timetableForIndustry">-->
    <!--<h3>-->
    <!--Časový plán pro partnery-->
    <!--</h3>-->
    <!--<ol class="timetable">-->
    <!--<li>-->
    <!--<div class="time">-->
    <!--11:00 - 18:00-->
    <!--<div class="location">Atrium Nová budova</div>-->
    <!--</div>-->
    <!--<div class="info">-->
    <!--<h4>-->
    <!--Informační kiosek portálu SSP-->
    <!--</h4>-->

    <!--<p>-->
    <!--Informace o portálu SSP a organizační kiosek pro firmy a studenty.-->
    <!--</p>-->

    <!--<p>-->
    <!--Chcete spolupracovat s našimi studenty a ovlivňovat zaměření jejich studia?-->
    <!--Zastavte se u nás a získejte užitečné informace.-->
    <!--</p>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="time">-->
    <!--12:00 - 12:30-->
    <!--<div class="location">Místnost č. 153</div>-->
    <!--</div>-->
    <!--<div class="info">-->
    <!--<h4>-->
    <!--Zahájení s děkanem Fakulty informačních technologií ČVUT-->
    <!--</h4>-->

    <!--<p>-->
    <!--Slavnostní zahájení s děkanem prof. Ing. Pavlem Tvrdíkem, CSc.-->
    <!--Po celou dobu Co@FITu zde bude připravené občerstvení pro zástupce firem.-->
    <!--</p>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="time">-->
    <!--12:30 - 18:00-->
    <!--<div class="location">Atrium Nová budova</div>-->
    <!--</div>-->
    <!--<div class="info">-->
    <!--<h4>-->
    <!--Informační kiosky firem-->
    <!--</h4>-->

    <!--<p>-->
    <!--Prostor pro setkání a představení firmy studentům.-->
    <!--</p>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="time">-->
    <!--16:45 - 18:00-->
    <!--<span class="location">Posluchárna T9:111</span>-->
    <!--</div>-->
    <!--<div class="info">-->
    <!--<h4>-->
    <!--Přednáška partnerů FIT-->
    <!--</h4>-->

    <!--<p>-->
    <!--Prezentace zlatých partnerů FIT - Profinit, Datamole, KB a Accenture. Slosování FIT-tomboly-->
    <!--pro studenty.-->
    <!--</p>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li style="display: none;">-->
    <!--<div class="time">-->
    <!--16:45 - 17:45-->
    <!--<span class="location">Zasedací místnost 364</span>-->
    <!--</div>-->
    <!--<div class="info">-->
    <!--<h4>-->
    <!--Informace o partnerství-->
    <!--</h4>-->

    <!--<p>-->
    <!--Máte zájem o užší spolupráci? Chcete nás podpořit? Zakládáme si na dlouhodobých a-->
    <!--oboustranně-->
    <!--přínosných vztazích. Proto jsme pro Vás připravili partnerský program. Přijďte se dozvědět-->
    <!--více!-->
    <!--</p>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <!--</section>-->
    <section id="faqForIndustry" class="faq">
        <h3>
            Otázky a odpovědi
        </h3>

        <ul class="preview-list">
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=0">V kolik a kam dorazit?</h4>

                <div ng-show="faqShown==0">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1279.501864413418!2d14.389732264942943!3d50.10493717499541!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x8eb9c6f77808fa69!2sFakulta+informa%C4%8Dn%C3%ADch+technologi%C3%AD+%C4%8CVUT+v+Praze!5e0!3m2!1scs!2scz!4v1443540642171"
                        style="width: 100%; height: 450px; border: 0;" frameborder="0" allowfullscreen></iframe>
                    <p>
                        V 11:00 budou připravené stoly v atriu Nové budovy FIT, abyste měli dostatek času si vše
                        připravit. Po příchodu do budovy se vás ujme náš tým SSP a poradí co a jak. Na tento tým se
                        můžete během průběhu akce obracet s veškerými požadavky či problémy. Ve 12:30 je oficiální
                        začátek veletrhu.

                    </p>
                </div>
            </li>
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=1">Kde zaparkovat?</h4>

                <div ng-show="faqShown==1">
                    <p>
                        Parkování je možné pouze v zónách placeného stání. Parkování v budově FIT bohužel možné není.
                    </p>

                </div>
            </li>
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=2">Co bude na místě k dispozici?</h4>

                <p ng-show="faqShown==2">
                    K dispozici bude připojení k WiFi, případně síťové kabely. Ke stolům budou přivedeny
                    prodlužovací kabely. Bude přítomen i profesionální fotograf,
                    který bude celou akci dokumentovat. Fotoreport bude poté k dispozici. Připraveno bude také
                    občerstvení u atria (místnost č. 153).

                </p></li>

            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=3">Co připravit na svůj kiosek?</h4>

                <p ng-show="faqShown==3">
                    Jedná se o stoly kancelářského typu se židlemi. Stoly budou označeny logem a názvem firmy. Můžete
                    si přinést propagační materiály a roll-up. Doporučujeme mít připravený seznam zadání do portálu SSP
                    a témata semestrálních a diplomových prací pro studenty. Rozměry stolů pro zlaté partnery/sponzory
                    jsou 216x123 cm, pro stříbrné a bronzové partnery/sponzory 160x80 cm.
                </p>
            </li>

            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=4">Jsem partner a prezentuji, jak se mám
                    připravit?</h4>

                <div ng-show="faqShown==4">
                    <p>
                        Jako zlatý/stříbrný partner máte možnost prezentovat svoji firmu během hlavní přednášky. Na
                        prezentaci mají zlatí partneři vyhrazeno 15 minut, stříbrní partneři 10 min.
                        Forma a obsah prezentace je na Vás. Zde se můžete inspirovat:
                    </p>

                    <h5>Doporučené body prezentace</h5>
                    <ul>
                        <li>Čím se zabýváte</li>
                        <li>Jaké studenty a absolventy hledáte</li>
                        <li>Nabídka projektů ke spolupráci</li>
                        <li>Nabídka stáží</li>
                        <li>Používané technologie a programovací jazyky</li>
                        <li>Možnosti vzdělávání a rozvoje, benefity, firemní kultura, kariéra
                        </li>
                    </ul>
                </div>
            </li>
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=5">Kolik je očekáváno studentů?</h4>

                <p ng-show="faqShown==5">
                    Očekáváme, že Co@FIT navštíví ca 500 studentů.
                </p>
            </li>
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=6">Mám zájem se zúčastnit.</h4>

                <p ng-show="faqShown==6">
                    Možnost účasti na Co@FITu mají pouze partneři a sponzoři FITu.
                    Více informací naleznete <a class="textbtn" href="https://ssp.fit.cvut.cz/partnership/">
                    zde</a>. Hlavní referentkou je Lucie Kolomazníková
                    <a class="textbtn" href="mailto:lucie.kolomaznikova@fit.cvut.cz">(lucie.kolomaznikova@fit.cvut.cz),
                    </a> která Vám poskytne organizační informace.
                </p>
            </li>
        </ul>
    </section>

    <section id="interestedInNextEvent" style="display: none;">
        <div>
            <h3>
                Mám zájem zúčastnit se Co@FITu
            </h3>

            <p>
                Možnost účasti na Co@FITu mají pouze partneři a sponzoři FITu.
                Více informací naleznete <a class="textbtn" href="https://ssp.fit.cvut.cz/partnership/">
                zde</a>. Veletrh se koná každý semestr.
            </p>
            <div class="pull-center">
                <a class="btn" target="_blank" href="#contact">
                    Mám zájem
                </a>
            </div>
        </div>
    </section>


    <section id="aboutFitPartners">
        <h3>
            Partnerství a sponzoring
        </h3>

        <p>
            Naše fakulta se snaží vychovávat špičkové odborníky přispívající ke zvýšení konkurenceschopnosti
            a inovačního potenciálu podniků a institucí zejména v ČR. Systematicky také budujeme vědeckovýzkumné
            kapacity, které nám umožňují předávat studentům nejnovější poznatky, ale i nabízet expertní konzultace
            a realizovat projekty ve spolupráci s podniky a institucemi.
        </p>

        <p>
            Silné a dlouhodobé vazby s průmyslovými partnery patří k historické tradici ČVUT. Na
            <a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakultě informačních technologií</a>
            se snažíme, aby byla spolupráce aplikační sféry s fakultou oboustranně
            přínosná. Průmysloví partneři pro nás nejsou jen cílovým působištěm našich absolventů, ale také
            důležitým hráčem při formování studijních programů a směrování výzkumných aktivit. Abychom zlepšili
            a systematizovali způsob spolupráce, připravili jsme partnerský program. Tento program
            umožňuje firmám a institucím jednak ovlivnit zaměření našich studentů a přímo se tak podílet na
            formování absolventů, ale také úzce spolupracovat na výzkumu a jeho aplikaci. Program má
            různé formy partnerství rozdělených podle angažovanosti ve spolupráci s fakultou.
        </p>

        <div class="pull-center">
            <a class="btn" target="_blank" href="https://ssp.fit.cvut.cz/partnership/ ">
                Více info
            </a>
        </div>
    </section>

    <section id="aboutFaculty" style="display: none;">
        <h3>
            Informace o FITu
        </h3>
        <h4>
            Obory bakalářského studijního programu (BSP):
        </h4>
        <ul>
            <li>Bezpečnost a informační technologie</li>
            <li>Informační systémy a management</li>
            <li>Počítačové inženýrství</li>
            <li>Teoretická informatika</li>
            <li>Webové a softwarové inženýrství
                <ul>
                    <li>zaměření Počítačová grafika</li>
                    <li>zaměření Softwarové inženýrství</li>
                    <li>zaměření Webové inženýrství</li>
                </ul>
            </li>
            <li>Znalostní inženýrství</li>
        </ul>
        <div class="pull-center">
            <a href="http://fit.cvut.cz/student/bakalarsky-program" target="_blank" class="btn">Více o bakalářských
                oborech</a>
        </div>
        <br/>
        <h4>
            Obory magisterského studijního programu (MSP)
        </h4>
        <ul>
            <li>Počítačová bezpečnost</li>
            <li>Počítačové systémy a sítě</li>
            <li>Návrh a programování vestavných systémů</li>
            <li>Systémové programování
                <ul>
                    <li>zaměření Systémové programování</li>
                    <li>zaměření Teoretická informatika</li>
                </ul>
            </li>
            <li>Webové a softwarové inženýrství
                <ul>
                    <li>zaměření Informační systémy a management</li>
                    <li>zaměření Softwarové inženýrství</li>
                    <li>zaměření Webové inženýrství</li>
                </ul>
            </li>
            <li>Znalostní inženýrství</li>
        </ul>
        <div class="pull-center">
            <a href="http://fit.cvut.cz/student/magistersky-program" target="_blank" class="btn">Více o
                magisterských oborech</a>
        </div>
    </section>
</section>
