<h2>
    Informace pro studenty
</h2>

<section id="timetableForStudents">
    <h3>
        Časový plán pro studenty
    </h3>
    <ol class="timetable">
        <li>
            <div class="time">
                12:30 - 18:00
                <div class="location">Atrium Nová budova</div>
            </div>
            <div class="info">
                <h4>
                    Kariérní veletrh
                </h4>

                <p>
                    Zástupci firem zde budou pro Vás a poradí, jak se nejlépe uplatnit. Dozvíte se, jaké projekty se ve
                    firmách řeší, koho hledají pro spolupráci, jaké poskytují benefity, stáže nebo jaká témata Vám mohou
                    aktuálně nabídnout. Firmy si pro Vás připravili dále i zajímavé soutěže a odměny.
                </p>
            </div>
        </li>

        <li>
            <div class="time">
                18:00 - 19:00
                <div class="location">Místnost č. 107</div>
            </div>
            <div class="info">
                <h4>
                    Panelová diskuze pro studenty: Upgrade dovedností
                </h4>
                <div>
                    <strong>Irena Prášilová</strong> – Global Technology Operations Portfolio Director MSD IT
                </div>
                <div>
                    <strong>Tomáš Krátký</strong> – R&D Director Profinit, Founder Manta Tools
                </div>
                <div>
                    <strong>David Švejda</strong> – Deputy Executive Director IT Komerční banka
                </div>
                <div>
                    <strong>Tomáš Borovička</strong> – Founder and AI lead Datamole
                </div>
            </div>
        </li>
    </ol>
</section>

<section class="events" style="display:none;">
    <h3>
        FIT-tombola
    </h3>

    <p>
        Chceš vyhrát elektroniku sponzorovanou našimi partnery? Každý student FITu, který přijde na
        <a class="textbtn" href="#timetableForStudents">přednášku partnerů</a>,
        obdrží při vstupu do posluchárny lístek do tomboly.
        V průběhu přednášky bude probíhat slosování.

    </p>


</section>
