<section id="industry">
    <h2>
        Pro firmy
    </h2>

    <p>
        Kariérní veletrh COFIT se koná pravidelně každý semestr, v zimním semestru v říjnu a v letním semestru v březnu. Existuje několik
        způsobů, jak spolupracovat s
        <a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakultou informačních technologií ČVUT</a>.
        Využijte naší nabídky prezentovat na COFITu svoji firmu a oslovit tak studenty s nabídkami spolupráce, stáží, zadání do portálu
        <a class="textbtn" href="https://ssp.test.fit.cvut.cz/" target="_blank">SSP</a>
        nebo témata semestrálních a diplomových prací.
    </p>
    
    <section id="faqForIndustry" class="faq" style="display:none;">
        <h3>
            Důležité informace
        </h3>

        <ul class="preview-list">
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=0">Místo a čas</h4>

                <div ng-show="faqShown==0">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1279.501864413418!2d14.389732264942943!3d50.10493717499541!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x8eb9c6f77808fa69!2sFakulta+informa%C4%8Dn%C3%ADch+technologi%C3%AD+%C4%8CVUT+v+Praze!5e0!3m2!1scs!2scz!4v1443540642171"
                        style="width: 100%; height: 450px; border: 0;" frameborder="0" allowfullscreen></iframe>
                    <p>
                        V 10:00 budou připravené kiosky v obou atriech Nové budovy FIT. Budete tak mít dostatek času si vše
                        připravit. Po příchodu do budovy vás uvedeme na dané místo a rádi vám s čímkoli poradíme a pomůžeme. 
                        Ve 12:30 je oficiální začátek veletrhu.

                    </p>
                </div>
            </li>
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=1">Parkování</h4>

                <div ng-show="faqShown==1">
                    <p>
                        Parkování je možné pouze v zónách placeného stání, v budově FIT to z kapacitních důvodů bohužel možné není. 
                        Lze přijet přímo k budově FIT pouze na dobu nutnou na vyložení věcí.
                    </p>

                </div>
            </li>
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=2">Vybavení k dispozici</h4>

                <p ng-show="faqShown==2">
                    K dispozici bude připojení k WiFi, případně síťové kabely. Ke stolům budou přivedeny
                    prodlužovací kabely. Stůl a počet židlí se případně upraví dle vašich potřeb. Lze si zapůjčit vozík na přemístění těžkých věcí. Bude přítomen i profesionální fotograf,
                    který bude celou akci dokumentovat. Připraveno bude také
                    občerstvení (místnost č. 153).

                </p></li>

            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=3">Informační kiosky</h4>

                <p ng-show="faqShown==3">
                    Jedná se o stoly kancelářského typu se židlemi. Stoly budou označeny logem a názvem firmy. Můžete
                    si přinést propagační materiály a roll-up. Doporučujeme mít připravený seznam zadání do portálu SSP, 
                    nabídku stáží a témata semestrálních a diplomových prací pro studenty. Rozměry stolů pro zlaté partnery/sponzory
                    jsou 216x123 cm, pro stříbrné a bronzové partnery/sponzory 160x80 cm.
                </p>
            </li>

            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=5">Návštěvnost</h4>

                <p ng-show="faqShown==5">
                    Předpokládáme, že COFIT navštíví během odpoledne nejméně 500 studentů.
                </p>
            </li>
            <li class="expandable-container">
                <h4 class="expansion-controller" ng-click="faqShown=6">Mám zájem se zúčastnit.</h4>

                <p ng-show="faqShown==6">
                    Možnost účasti na COFITu mají pouze partneři a sponzoři FITu.
                    Formy spolupráce a více informací naleznete <a class="textbtn" href="https://ssp.fit.cvut.cz/partnership/">
                    zde</a>.
                </p>
            </li>
        </ul>
    </section>

    <section id="interestedInNextEvent">
        <div>
            <h3>
                Mám zájem zúčastnit se COFITu
            </h3>

            <p>
                Možnost účasti na COFITu mají pouze partneři a sponzoři FITu.
                Více informací naleznete <a class="textbtn" href="https://ssp.fit.cvut.cz/partnership/">
                zde</a>.
            </p>
            <div class="pull-center">
                <a class="btn" target="_blank" href="#contact">
                    Mám zájem
                </a>
            </div>
        </div>
    </section>


    <section id="aboutFitPartners">
        <h3>
            Partnerství a sponzoring
        </h3>

        <p>
            Naše fakulta se snaží vychovávat špičkové odborníky přispívající ke zvýšení konkurenceschopnosti
            a inovačního potenciálu podniků a institucí zejména v ČR. Systematicky také budujeme vědeckovýzkumné
            kapacity, které nám umožňují předávat studentům nejnovější poznatky, ale i nabízet expertní konzultace
            a realizovat projekty ve spolupráci s podniky a institucemi.
        </p>

        <p>
            Silné a dlouhodobé vazby s průmyslovými partnery patří k historické tradici ČVUT. Na
            <a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakultě informačních technologií</a>
            se snažíme, aby byla spolupráce aplikační sféry s fakultou oboustranně
            přínosná. Průmysloví partneři pro nás nejsou jen cílovým působištěm našich absolventů, ale také
            důležitým hráčem při formování studijních programů a směrování výzkumných aktivit. Abychom zlepšili
            a systematizovali způsob spolupráce, připravili jsme partnerský program. Tento program
            umožňuje firmám a institucím jednak ovlivnit zaměření našich studentů a přímo se tak podílet na
            formování absolventů, ale také úzce spolupracovat na výzkumu a jeho aplikaci. Program má
            různé formy partnerství rozdělených podle angažovanosti ve spolupráci s fakultou.
        </p>

        <div class="pull-center">
            <a class="btn" target="_blank" href="https://ssp.fit.cvut.cz/partnership/ ">
                Více info
            </a>
        </div>
    </section>

    <section id="aboutFaculty" style="display: none;">
        <h3>
            Informace o FITu
        </h3>
        <h4>
            Obory bakalářského studijního programu (BSP):
        </h4>
        <ul>
            <li>Bezpečnost a informační technologie</li>
            <li>Informační systémy a management</li>
            <li>Počítačové inženýrství</li>
            <li>Teoretická informatika</li>
            <li>Webové a softwarové inženýrství
                <ul>
                    <li>zaměření Počítačová grafika</li>
                    <li>zaměření Softwarové inženýrství</li>
                    <li>zaměření Webové inženýrství</li>
                </ul>
            </li>
            <li>Znalostní inženýrství</li>
        </ul>
        <div class="pull-center">
            <a href="http://fit.cvut.cz/student/bakalarsky-program" target="_blank" class="btn">Více o bakalářských
                oborech</a>
        </div>
        <br/>
        <h4>
            Obory magisterského studijního programu (MSP)
        </h4>
        <ul>
            <li>Počítačová bezpečnost</li>
            <li>Počítačové systémy a sítě</li>
            <li>Návrh a programování vestavných systémů</li>
            <li>Systémové programování
                <ul>
                    <li>zaměření Systémové programování</li>
                    <li>zaměření Teoretická informatika</li>
                </ul>
            </li>
            <li>Webové a softwarové inženýrství
                <ul>
                    <li>zaměření Informační systémy a management</li>
                    <li>zaměření Softwarové inženýrství</li>
                    <li>zaměření Webové inženýrství</li>
                </ul>
            </li>
            <li>Znalostní inženýrství</li>
        </ul>
        <div class="pull-center">
            <a href="http://fit.cvut.cz/student/magistersky-program" target="_blank" class="btn">Více o
                magisterských oborech</a>
        </div>
    </section>
</section>
