<section>
    <h2>COFIT</h2>
    <p>
        <a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakulta informačních technologií</a>
        pořádá pro své studenty kariérní veletrh COFIT. Cílem je
        zprostředkovat studentům kontakt s partnerskými a sponzorskými firmami fakulty. Akci pořádá oddělení pro
        spolupráci s průmyslem pravidelně každý semestr. V letním semestru 2017/2018 se COFIT uskuteční již po osmé.
    </p>
    <p>
        Už máte představu o tom, jakým směrem byste se chtěli po absolvování studia vydat? Hledáte zadání své semestrální
        nebo diplomové práce? Nevíte, jak efektivně zkombinovat studium s prací? Akce je doporučena pro studenty všech
        ročníků a oborů FIT, vstupné je zdarma a bez registrace.
    </p>
</section>
