<section>
    <h2>O Co@FITu</h2>
    <p><a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakulta informačních technologií</a> pořádá pro
        své studenty kariérní veletrh Co@FIT (Companies at FIT). Cílem je zprostředkovat studentům kontakt s
        průmyslem, zejména s dlouhodobými partnery FITu. Kariérní veletrh Co@FIT přináší portál <a
            class="textbtn" href="https://ssp.test.fit.cvut.cz/" target="_blank">Spolupráce s průmyslem (SSP)</a>
        společně s firmami již po šesté.</p>
    <p class="date">15.&thinsp;3.&thinsp;2017</p>
    <p>V tomto letním semestru 2016/2017 se akce uskuteční 15.3.2017 od 12:30 do 18:00 v prostorách <a
        class="textbtn"
        href="http://fit.cvut.cz/"
        target="_blank">Fakulty
        informačních technologií</a>. V atriu Nové budovy bude připraven informační kiosek portálu SSP, kde budou v
        průběhu poskytovány informace o portálu SSP a Co@FITu. Budou zde také rozmístěny kiosky firem s jejich
        zástupci, kde se mohou studenti dozvědět více o oblastech působení firem, používaných technologií a
        možnostech spolupráce. Dále si mohou domluvit témata semestrálních a diplomových prací. Závěrem proběhne
        přednáška <a class="textbtn" href="#partners">zlatých a
            stříbrných partnerů FIT</a>, jejíž součástí je i soutěž o elektroniku. Studentům
        se tak nabízí jedinečná šance seznámit se s firmami přímo na akademické půdě. Akce je doporučena pro
        studenty všech ročníků a oborů FIT. Není nutná registrace, vstup volný.</p>
</section>
