<section>
    <h2>COFIT</h2>
    <p>
        <a class="textbtn" href="http://fit.cvut.cz/" target="_blank">Fakulta informačních technologií ČVUT</a>
        pořádá pro své studenty kariérní veletrh COFIT. Cílem je zprostředkovat studentům kontakt se spolupracujícími firmami fakulty. 
        Blízká setkání binárního druhu proběhnou <b>24.10.2018</b>. 
    </p>
    <p>
    <b>Haló, programátoři a programátorky!</b> Už máte představu o tom, jakým směrem byste se chtěli po absolvování studia vydat? Hledáte zadání své semestrální
        nebo diplomové práce? Nevíte, jak efektivně zkombinovat studium s prací? Seznamte se s profesionály, získejte kontakty a inspiraci! 
    </p>
    <p> 
        FIT se snaží vychovávat špičkové odborníky přispívající ke zvýšení konkurenceschopnosti a inovačního potenciálu podniků a institucí zejména v ČR. Systematicky budujeme vědeckovýzkumné
            kapacity, které nám umožňují předávat studentům nejnovější poznatky, ale i nabízet expertní konzultace
            a realizovat projekty ve spolupráci s podniky a institucemi. 
    </p>
</section>
