<h2>
    Program
</h2>

<ol class="timetable">
    <li>
        <div class="time">
            10:00 - 11:30
            <div class="location">Atrium Nová budova</div>
        </div>
        <div class="info">
            <h4>
                Příprava Informačních kiosků (pro firmy)
            </h4>

            <p>
                V obou částech atria Nové budovy FIT ČVUT budou připravené kiosky dle mapy. Po příchodu do budovy vás
                uvedeme na dané místo a rádi vám s čímkoli poradíme a pomůžeme.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            11:30 - 12:00
            <div class="location">Místnost č.153</div>
        </div>
        <div class="info">
            <h4>
                Zahájení (pro firmy)
            </h4>

            <p>
                Společně s novým děkanem Fakulty informačních technologií doc. RNDr. Ing. Marcelem Jiřinou, Ph.D.
                zahájíme veletrh.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            12:30 - 18:00
            <div class="location">Atrium Nová budova</div>
        </div>
        <div class="info">
            <h4>
                Kariérní veletrh COFIT
            </h4>

            <p>
                Zjistěte, jak můžete získat praxi při studiu. Po celé odpoledne bude možnost navštívit informační kiosky
                a seznámit se s firmami. Jaké nabízí stáže a koho hledají ke spolupráci, jak se u nich pracuje a jaké
                poskytují benefity, jaké řeší projekty a témata semestrálních a diplomových prací?
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            14:00 - 16:00
            <div class="location">Atrium Nová budova</div>
        </div>
        <div class="info">
            <h4>
                Informační kiosek Spolupráce s průmyslem
            </h4>

            <p>
                Ještě neznáte portál Spolupráce s průmyslem? Chtěli byste se zapojit, ale nevíte jak? Potřebujete
                podepsat dohodu o mlčenlivosti? Nebo jen poradit s jeho využíváním? Jsme tu pro vaši praxi.
            </p>
        </div>
    </li>

    <li ng-if="false">
        <!--po aktualizaci vymazat 'ng-if="false"'-->
        <div class="time">
            18:00 - 19:00
            <div class="location">Místnost č. 107</div>
        </div>
        <div class="info">
            <h4>
                Panelová diskuze pro studenty: Upgrade dovedností
            </h4>
            <div>
                <strong>Irena Prášilová</strong> – Global Technology Operations Portfolio Director MSD IT
            </div>
            <div>
                <strong>Tomáš Krátký</strong> – R&D Director Profinit, Founder Manta Tools
            </div>
            <div>
                <strong>David Švejda</strong> – Deputy Executive Director IT Komerční banka
            </div>
            <div>
                <strong>Tomáš Borovička</strong> – Founder and AI lead Datamole
            </div>
        </div>
    </li>
</ol>
