<h2>
    Program
</h2>

<ol class="timetable">
    <li>
        <div class="time">
            12:30 - 18:00
            <div class="location">Atrium FIT ČVUT</div>
        </div>
        <div class="info">
            <h4>
                Kariérní veletrh
            </h4>

            <p>
                Navštivte vystavující firmy na stáncích v atriu po celé odpoledne. Co si pro vás vystavovatelé
                připravili? Můžete si domluvit stáž, téma semestrální a diplomové práce nebo se podílet na zajímavých
                projektech. A to vše díky portálu
                <a href="https://ssp.test.fit.cvut.cz/web/ssp-sandbox/form" target="_blank">Spolupráce s průmyslem</a>
                propojit se studiem.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            12:30 - 16:00
            <div class="location">Zasedací místnost T9:364</div>
        </div>
        <div class="info">
            <h4>
                Face2Face
            </h4>

            <p>
                4 oči, 10 minut. Nově jsme pro vás připravili osobní schůzky s leadery z prestižních firem. Během 10
                minut budete mít jedinečnou možnost zeptat se na cokoliv. Vyberte si podle <a href="https://goo.gl/forms/sJVn9iswGk4sXHgI2" target="_blank">profilu leadera</a> a my už vše zařídíme.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            12:30 - 16:30
            <div class="location">Atrium FIT ČVUT</div>
        </div>
        <div class="info">
            <h4>
                Info stánek
            </h4>

            <p>
                Na info stánku vám poradíme s registrací do portálu Spolupráce s průmyslem, vysvětlíme, jak to celé
                funguje a můžete také podepsat NDA. Najdete zde i nabídky fakultních pozic do výzkumu a vývoje.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            12:30 - 16:00
            <div class="location">Atrium FIT ČVUT</div>
        </div>
        <div class="info">
            <h4>
                Kariérní centrum ČVUT: Skoč s námi do světa seberozvoje
            </h4>

            <p>
<a href="http://kariernicentrum.cz/" target="_blank">KáCéčko</a> pečuje o osobní rozvoj studentů a připravuje je na budoucí kariéru. Na stánku můžete probrat všechny své možnosti rozvoje 
                a vyzkoušet kariérní poradnu. Přineste s sebou svůj životopis nebo motivační dopis a získáte hned na stánku zpětnou vazbu.
            </p>
        </div>
    </li>

    <li style="display: none">
        <div class="time">
            14:00 - 18:00
            <div class="location"></div>
        </div>
        <div class="info">
            <h4>
                FB soutěž
            </h4>

            <p>

            </p>
        </div>
    </li>

    <li>
        <div class="time">
            16:45 - 17:45
            <div class="location">T9:111</div>
        </div>
        <div class="info">
            <h4>
                FIT Talk #2: Programátor jako dnešní superhrdina?
            </h4>
            <p>
                Další díl úspěšného FIT Talk moderuje vaše i naše oblíbenkyně Eliška Čejpová. Proč je programátor
                ztělesněním dnešního superhrdiny? Nebo není? Diskutovat na toto téma přijdou partnerské firmy a nebude
                chybět ani děkan doc. RNDr. Ing. Marcel Jiřina, Ph.D. Zúčastněte se diskuze hlasováním na svém mobilu a vyhrajte! 
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            18:00 - 19:30
            <div class="location">T9:111</div>
        </div>
        <div class="info">
            <h4>
                COFIT Kino
            </h4>
            <p>
                Vy vybíráte, my promítáme! K tomu se Showmax postará o příjemnou atmosféru s čerstvě praženým popcornem. V originální znění s českými titulky. Vstup zdarma. O filmu hlasujte ve <a href="https://www.facebook.com/events/300955774031594/" target="_blank">fb události</a>.
            </p>
        </div>
    </li>
</ol>
