<h2 style="display:none;">
    Program
</h2>

<ol class="timetable" style="display:none;">
    <li>
        <div class="time">
            10:00 - 11:30
            <div class="location">Atrium Nová budova</div>
        </div>
        <div class="info">
            <h4>
                Příprava informačních kiosků (pro firmy)
            </h4>

            <p>
                V obou částech atria Nové budovy FIT ČVUT budou připravené kiosky dle mapy. Po příchodu do budovy vás
                uvedeme na dané místo a rádi vám s čímkoli poradíme a pomůžeme. Více v sekci Důležité informace.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            11:30 - 12:00
            <div class="location">Místnost č.153</div>
        </div>
        <div class="info">
            <h4>
                Zahájení (pro firmy)
            </h4>

            <p>
                Společně s novým děkanem Fakulty informačních technologií doc. RNDr. Ing. Marcelem Jiřinou, Ph.D.
                zahájíme veletrh.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            12:30 - 18:00
            <div class="location">Atrium Nová budova</div>
        </div>
        <div class="info">
            <h4>
                Kariérní veletrh COFIT
            </h4>

            <p>
                Zjistěte, jak můžete získat praxi při studiu. Po celé odpoledne bude možnost navštívit informační kiosky
                a seznámit se s firmami. Jaké nabízí stáže a koho hledají ke spolupráci, jak se u nich pracuje a jaké
                poskytují benefity, jaké řeší projekty a témata semestrálních a diplomových prací?
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            12:00 - 18:00
            <div class="location">Atrium Nová budova</div>
        </div>
        <div class="info">
            <h4>
                Informační kiosek Spolupráce s průmyslem
            </h4>

            <p>
                Ještě neznáte portál Spolupráce s průmyslem? Chtěli byste se zapojit, ale nevíte jak? Potřebujete
                podepsat dohodu o mlčenlivosti? Nebo jen poradit s jeho využíváním? Jsme tu pro vaši praxi.
            </p>
        </div>
    </li>

    <li>
        <div class="time">
            18:20 – 19:20
            <div class="location">Místnost č. 111</div>
        </div>
        <div class="info">
            <h4>
                FIT Talk #1 – Jak přežít FUCK-UP
            </h4>
            <p>
                Jednou jsi dole, jednou nahoře. Nebo máš pocit, že pořád jen dole?
            </p>
            <p>
                Zveme vás na nový koncept přednášek FIT Talk v rámci kariérního veletrhu COFIT.
                Jakými neúspěchy si prošli naši hosté, jak se s nimi vyrovnali a co se díky nim naučili? Existuje
                zaručená cesta ke kariérnímu (ne)úspěchu?
            </p>
            <h5>
                Hosté
            </h5>
            <ul>
                <li>
                    Děkan FIT, RNDr. Ing. Marcel Jiřina, Ph.D.
                </li>
                <li>
                    Datamole
                </li>
                <li>
                    KB
                </li>
                <li>
                    Profinit
                </li>
                <li>
                    Showmax
                </li>
            </ul>
            <p>
                Vstup zdarma a bez registrace, omezená kapacita posluchárny – přijďte
                včas. Záznam bude pořízen a přidám do FB události.
            </p>
        </div>
    </li>
</ol>
<div style="text-align: center;" style="display:none;">
    <h3 style="margin-top: 20px">
        Plán rozmístění stolů
    </h3>
    <a href="documents/plan.pdf" target="_blank">zobrazit</a> /
    <a href="documents/plan.pdf" download>stáhnout</a>
</div>
