<section id="student">
    <h2>
        Informace pro studenty
    </h2>

    <section id="timetableForStudents">
        <h3>
            Časový plán pro studenty
        </h3>
        <ol class="timetable">
            <li>
                <div class="time">
                    12:30 - 18:00
                    <div class="location">Atrium Nová budova</div>
                </div>
                <div class="info">
                    <h4>
                        Informační kiosky firem
                    </h4>

                    <p>
                        Navštivte informační kiosky partnerů a sponzorů FITu. Koho hledají pro
                        spolupráci? Jaké projekty a témata mají v portálu SSP? Co požadují a co mohou nabídnout?
                    </p>

                    <h4>
                        Informační kiosek portálu SSP
                    </h4>

                    <p>
                        Na tomto kiosku získáte informace o portálu Spolupráce s průmyslem. Poradíme Vám ohledně
                        registrace, spolupráce s firmami a můžete zde podepsat NDA. Po celou dobu veletrhu zde bude
                        probíhat soutěž o externí HDD.
                    </p>
                </div>
            </li>

            <li>
                <div class="time">
                    13:30 - 14:00
                    <div class="location">Posluchárna T9:107</div>
                </div>
                <div class="info">
                    <h4>
                        Jak spolupracovat s průmyslem
                    </h4>
                    <p>
                        Ing. Pavel Kordík, Ph.D. promluví o tom, jak probíhá spolupráce s firmami přes portál SSP.
                    </p>
                </div>
            </li>

            <li style="display:none;">
                <div class="time">
                    12:40 - 14:00
                    <div class="location">Posluchárna T9:107</div>
                </div>
                <div class="info">
                    <h4>
                        Vytvoř si chatbota
                    </h4>

                    <p>
                        Přijďte si vytvořit vlastního chatbota pro Messenger a Telegram, potřebujete k tomu pouze
                        základní znalost Pythonu a náš framework. Přijďte s vlastním nápadem, nebo se připojte
                        k vytváření chatbota, který vám díky API
                        <a class="textbtn" href="http://obedar.fit.cvut.cz" target="_blank">Obědář</a>
                        doporučí, kam jít na oběd.
                    </p>
                    <p>
                        Registrovat
                        <a href="https://goo.gl/forms/2J6PCgwEmBsXZ8GF3"
                           class="textbtn" style="font-weight: bold">zde</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="time">
                    16:45 - 18:00
                    <div class="location">Posluchárna T9:111</div>
                </div>
                <div class="info">
                    <h4>
                        Přednáška partnerů FIT
                    </h4>

                    <p>
                        Nenechte si ujít exkluzivní prezentace zástupců našich zlatých
                        partnerů FIT - Profinit, Datamole, Komerční banka a Accenture.
                    </p>
                    <h4>
                        FIT-tombola
                    </h4>

                    <p>
                        Chceš vyhrát elektroniku sponzorovanou našimi partnery? Každý student FITu, který přijde na
                        přednášku partnerů, obdrží lístek do FIT-tomboly.
                        Během přednášky bude probíhat slosování. Ve hře je 5ks externích HDD.
                    </p>
                </div>
            </li>
        </ol>
    </section>

    <section class="events" style="display:none;">
        <h3>
            FIT-tombola
        </h3>

        <p>
            Chceš vyhrát elektroniku sponzorovanou našimi partnery? Každý student FITu, který přijde na
            <a class="textbtn" href="#timetableForStudents">přednášku partnerů</a>,
            obdrží při vstupu do posluchárny lístek do tomboly.
            V průběhu přednášky bude probíhat slosování.

        </p>


    </section>


</section>
