<div class="row contacts">
    <div class="contact address">
        <div>
            <h3>
                {{'FACULTY_OF_INFORMATION_TECHNOLOGY' | translate}}
            </h3>
                <span class="role">
                    {{'CZECH_TECHNICAL_UNIVERSITY' | translate}}
                </span>
            <div>
                Thákurova 9
            </div>
            <div>
                160 00, Praha 6 - Dejvice
            </div>
        </div>
    </div>
    <div class="contact">
        <div>
            <h3>
                Ing. Lucie Kolomazníková
            </h3>
                <span class="role">
                    {{'ASSISTANT' | translate}}
                </span>

            <div>
                <strong>{{'EMAIL' | translate}}:</strong>
                <a href="mailto:lucie.kolomaznikova@fit.cvut.cz">lucie.kolomaznikova@fit.cvut.cz</a>
            </div>
            <div>
                <strong>{{'PHONE' | translate}}:</strong>
                +420 224 359 834
            </div>
        </div>
    </div>
    <div class="contact">
        <div>
            <h3>
                Ing. Pavel Kordík, Ph.D.
            </h3>
                <span class="role">
                    {{'ASSOCIATE_DEAN_FOR_DEVELOPMENT' | translate}}
                </span>

            <div>
                <strong>{{'EMAIL' | translate}}:</strong>
                <a href="mailto:pavel.kordik@fit.cvut.cz"> pavel.kordik@fit.cvut.cz</a>
            </div>
            <div>
                <strong>{{'PHONE' | translate}}:</strong>
                420 224 359 815
            </div>
        </div>
    </div>
</div>
<div class="links">
    <h2>{{'FOLLOW_US' | translate}}</h2>
    <ul>
        <li>
            <a class="ext ico ssp" href="https://ssp.test.fit.cvut.cz/" target="_blank"
               title="{{'COOPERATION_WITH_INDUSTRY_PORTAL' | translate}}">
            </a>
        </li>
        <li>
            <a class="ext ico twitter" href="https://twitter.com/sspfit" target="_blank"
               title="{{'OUR_TWITTER' | translate}}">
            </a>
        </li>
        <li>
            <a class="ext ico facebook" href="https://www.facebook.com/fitssp" target="_blank"
               title="{{'OUR_FACEBOOK' | translate}}">
            </a>
        </li>
    </ul>
</div>
<div class="copyright">© 2015 {{'CZECH_TECHNICAL_UNIVERSITY' | translate}}</div>
